<header>
        <nav id="navbar" class="fixed top-0 left-0 z-50 w-full bg-white border-b border-gray-200 transition-all duration-300">
            <div class="container-custom px-4 md:px-8 mx-auto max-w-6xl">
                <div class="h-16 flex items-center justify-between">
                    <div class="flex items-center gap-3">
                        <img id="logoImage" src="./assets/Icons/logoblue.png" alt="logo" class="w-10 h-10 object-contain">
                        <h1 id="logoText" class="text-xl font-bold text-gray-900">Berita Terkini</h1>
                    </div>

                   <ul id="nav-categories" class="hidden lg:flex items-center gap-8 text-sm">
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/antara-news/terkini" class="nav-link text-blue-500 font-medium active-category">Beranda</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/antara-news/terkini" class="nav-link text-gray-500 hover:text-blue-500 transition">Terbaru</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/antara-news/hiburan" class="nav-link text-gray-500 hover:text-blue-500 transition">Hiburan</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/antara-news/lifestyle" class="nav-link text-gray-500 hover:text-blue-500 transition">Gaya Hidup</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/antara-news/olahraga" class="nav-link text-gray-500 hover:text-blue-500 transition">Olahraga</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/cnn-news/nasional" class="nav-link text-gray-500 hover:text-blue-500 transition">Nasional</a></li>
                        <li><a href="#" data-url="https://berita-indo-api-next.vercel.app/api/cnn-news/internasional" class="nav-link text-gray-500 hover:text-blue-500 transition">Internasional</a></li>
                    </ul>

                    <button id="mobileMenuBtn" class="block lg:hidden text-gray-700 hover:text-blue-500 transition">
                        <i class="fa-solid fa-bars text-2xl"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>